---
layout: default
tittle: Semua Rilisan
---

  <article>
    {% capture posts %}
  {% for post in site.posts %}
    |<a href="{{ site.baseurl }}{{ post.url }}" class="h1">{{ post.title }}</a>
    
    <!-- If article has a cover photo -->
      {% if post.coverPhoto %}

        <!-- Article image with aspect ratio -->
        <a href="{{ site.baseurl }}{{ post.url }}" class="ar-container">
          <span class="ar-content" style="background-image: url({{ post.coverPhoto }});"></span>
        </a><!-- .ar-container -->

      {% endif %}

  {% endfor %}
{% endcapture %}
{% assign sortedposts = posts | split: '|' | sort %}
{% for post in sortedposts %}
    {% assign postitems = post | split: '#' %}
    <a href={{ postitems[1] }}">{{ postitems[0] }}</a><br>
{% endfor %}
 </article>
