---
layout: default
tittle: Semua Rilisan
---

 {% for post in site.posts %}
  <article>
   
      <a href="{{ site.baseurl }}{{ post.url }}" class="h1">{{ post.title }}</a>
    {% for post in site.categories.threat %}
 <li><a href="{{ post.url }}">{{ post.title }}</a></li>
 {% endfor %}
      <!-- If article has a cover photo -->
      {% if post.coverPhoto %}
        <!-- Article image with aspect ratio -->
        <a href="{{ site.baseurl }}{{ post.url }}" class="ar-container">
          <span class="ar-content" style="background-image: url({{ post.coverPhoto }});"></span>
        </a><!-- .ar-container -->
   
      {% endif %}
  </article>
{% endfor %}
